{% load requests_toolbar_tags %}
<style type="text/css">
    .requests-toolbar-hidden {
        display: none;
    }
    .requests-toolbar-warning {
        background-color: #FFAFA5 !important;
        color: #fff !important;
    }
    ul.traceback li { list-style: none; !important;}
    ul.traceback li span { display: inline !important; }
</style>
<table>
    <thead>
        <tr>
            <th>Method</th>
            <th>Status code</th>
            <th>URL</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
            <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %} {% if request.time > 1000 or request.status_code > 299 %}requests-toolbar-warning{% endif %}">
                <td>{{ request.method }}</td>
                <td>{{ request.status_code }}</td>
                <td>{{ request.url }}</td>
                <td>{{ request.time|floatformat:2 }}ms</td>
                <td>
                    <a href="#content-id-{{ forloop.counter }}" class="requests-toolbar-open">Content</a>&nbsp;|&nbsp;
                    <a href="#stacktrace-id-{{ forloop.counter }}" class="requests-toolbar-open">Stack&nbsp;trace</a>
                </td>
            </tr>
            <tr class="requests-toolbar-hidden {% cycle 'djDebugOdd' 'djDebugEven' %}" id="content-id-{{ forloop.counter }}">
                <td colspan="4">
                    {% if request.kwargs.headers %}
                    <h4>Request Headers</h4>
                    <pre class="requests-toolbar-collapse">{{ request.kwargs.headers|highlight:"python"|safe }}</pre>
                    {% endif %}

                    {% if request.kwargs.data %}
                    <h4>Request Data</h4>
                    <pre class="requests-toolbar-collapse">{% if request.kwargs.json %}{{ request.kwargs.data|highlight:"json"|safe }}{% else %}{{ request.kwargs.data|highlight:"python"|safe }}{% endif %}</pre>
                    {% endif %}

                    <h4>Response</h4>
                    <pre class="requests-toolbar-collapse">{% if request.is_json %}{{ request.content|highlight:"json"|safe }}{% else %}{{ request.content|highlight:"html"|safe }}{% endif %}</pre>
                </td>
            </tr>
            <tr class="requests-toolbar-hidden {% cycle 'djDebugOdd' 'djDebugEven' %}" id="stacktrace-id-{{ forloop.counter }}">
                <td colspan="4">
                    <ul class="traceback">
                        {% for frame in request.stacktrace %}
                        <li>
                            File "{{ frame.filename|embolden_file|escape }}{% if not frame.code_context %}:{{ frame.lineno }}{% endif %}" in {{ frame.function|escape }}
                            {% if frame.code_context %}<pre>{{ frame.lineno }}. {{ frame.code_context|render_stack_trace }}</pre>{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    (function ($, publicAPI) {
        $('.requests-toolbar-open').click(function(e) {
            var element = $(e.target);
            $(element.attr('href')).toggle();
        })
    })(djdt.jQuery, djdt);
</script>